.mainPhoto{
    height: 400px;
    width: 1600px;
}

.thumbPhoto{
    height: 25%;
    width: 25%;
}

#left{    
    float: left;  
    }  
#right{    
    float: right;  
}

#center{
    float: center;
}